name: Node CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
    - name: Use Node.js 16
      uses: actions/setup-node@v6
      with:
        node-version: 16.x
    - name: Build NPM package and run tests
      run: |
        npm install
        npm test
      env:
        CI: true
